.ContainerNavbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background-color: #383839;
}
.imgLogo{
    width: 92px;
    padding-left: 35px;
}
.ContainerUl{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.ContainerUl a{
    text-decoration: none;
    color: #ffffff;
    padding: 0 50px;
}
.ContainerUl li:hover{
    color: #d58504;
}
.active{
    color: #d58504;
}