.ContainerCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}
.cardSize{
    width: 20%;
    border-bottom: 1px solid #a2a2a2;
    border-left: 1px solid #a2a2a2;
    margin: 10px;
    padding: 20px 20px 0 20px;
}
.ImgCard{
    margin: 0 auto;
}
.tituloCard{
    color: #000000;
    font-weight: bold;
    text-align: center;
    align-items: center;
    height: 30px;
}
.parrafoCard{
    width: 250px;
    height: 65px;
    padding: 20px 0;
    text-align: left;
    color: #a2a2a2;
}
.precioCard span{
    color: #a2a2a2;
    font-weight: bold;
    font-size: 15px;
}
.precioCard{
    color: #000000;
    font-size: 18px;
    font-weight: bold!important;
}
.contButton{
    display: flex;
    justify-content: center;
}
.botonCard{
    background-color: #a2a2a2!important;
    margin: 0 5px!important;
    color: #000000!important;;
}